body {
    /* background: url(../photos/backbround/background.png) no-repeat  center;
    background-size: 130vw 60%;
    background-position: -10vw 10vh; */
    /*     background-color: rgba(0, 0, 0, 0.6);
 */
    font-family: 'Muli', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1.2rem;
    margin: 20px;
    padding: 0;
    height: 100%;
    
}



/* .js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
} */

p {
    text-align:justify;
    }


 



/*     test
 */
.firstSetSkills{
    text-align: center;
}
.skillsvg{
    width:30vw;
    }


#path815{
stroke-dasharray: 400;
stroke-dashoffset: 140;
animation:  skAnim 2s linear;

}




@keyframes skAnim {
    0%{stroke-dashoffset: 140;
    }
    50%{stroke-dashoffset: 400;
    }    
    100%{stroke-dashoffset: 140;
    }}  

/* background*/

.backgroundImage {
    position: fixed;
    width: 90vw;
    height: 100vh;
    z-index: -10;
    margin-left: -10vw;
    top:25vh;
    opacity:.7;
}
.backgroundImage img {
    width: 80vw;
}

.backgroundImage2 {
    position: absolute;
    height: 80%;
    z-index: -20;
    margin-top: 30vh;
    margin-left: 40vw;
    opacity:.7;
}

.backgroundImage2 img {
    width: 50vw;
}

/* --------------- */

/* core design */

.container {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: " nav" " work" " skills" " contact";
    grid-gap: 3vh;
    margin: 0px;
    margin-bottom:100px;
    padding: 3vw;
    z-index: 0;
    ;
}

/* navbar */

.navbar {
    grid-area: nav;
    position: fixed;
    z-index: 30;

}

/* work */

.work {
    grid-area: work;
    text-align: center;
}

#textSource {
    margin: 2vw;
}

.workDisplay li {
    list-style: circle;
}

.workDisplay li:hover {
    cursor: pointer;
}

.laptop {
    padding-top: 5vh;
    display: flex;
    flex-wrap: wrap;
}

.laptopDisplay {
    flex: 2;
    order: 1;
}

.selectwork {
    flex: 1;
    order: 2;
    align-self: center;
}

.mobile {
    padding-top: 5vh;
    display: flex;
}

.mobileDisplay {
    flex: 2;
    order: 2;
}

.selectworkMobile {
    flex: 1;
    order: 1;
    align-self: center;
}

.workFoot {
    text-align: left;
}
/* svg skill
 */

 
 
 /* skills */

.skills {
    grid-area: skills;
}

.skillset {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.skillset li {
    list-style-type: circle;
}

.firstSet {
    text-align: left;
}

.secondSet {
    text-align: left;
}

.skillsetanim {
    text-align: center;
}

.skillsetanim img {
    width: 80vw;
}

/* contact */

.contact {
    grid-area: contact;
}

.contactflexwrap {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* --------------- */

/* navbar style */

.navbar {
    width: 100%;
    top:0;
    left:0;
    
    transition:4s;
}

.navbar ul {
    list-style: none;
    margin: 2.5vh;
    padding: 0;
    overflow: hidden;
}

.navbar ul li {
    list-style: circle;
    display: inline-block;
    position: relative;
}

#headname {
    margin-left: 0px;
}

.navbar li a {
    color: inherit;
    text-decoration: none;
}

.navcontent {
    float: right;
}

.navbar ul li:hover {
    cursor: pointer;
}


@media only screen and (max-width: 350px) {
    .navbar ul li {
        display: block;
    }
    .navcontent {
        margin-top: -17px;
    }
}

/* work style */

.laptopDisplay>img {
    width: 50vw;
}

.mobileDisplay>img {
    width: 20vw;
}

/* title style */

/* ---------- */

/* sizing */

/* animations */

/* navigator anim
 */

 .navcontent>li:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -1px;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.459);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar ul li:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

@media only screen and (max-width: 170px) {
    body {
        display: none;
    }
}