.intro{
    position:fixed;
    height:100vh;
    width:100vw;
}

.header{
    height:100vh;
    width:100vw;

}


#particles-js{
    height:100vh;
    width:100vw;

}

.selectwork li {
    list-style-type: none;
    margin-bottom: 2vh;
    text-align: left;
}

.selectworkMobile li {
    list-style-type: none;
    margin-bottom: 2vh;
    text-align: left;
}

.rotate {
    animation: worklistanim 1s linear;
}

@keyframes worklistanim {
    50% {
        transform: rotate(222deg)
    }
    100% {
        transform: rotate(0deg)
    }
}