.navbar {
    margin-bottom: 50vh;
}

.work {
    width: 70vw;
    justify-self: center;

}

.textSource {
    margin-bottom: 10vh;
}

.scrollAnimation {
    margin-bottom: 45vh;
}

.workDisplay {
    width: 70vw;
}

.laptop {
    margin-bottom: 15vh;
}

.mobile {
    margin-bottom: 15vh;
}

.workFoot {
    margin-bottom: 45vh;
}



.skills{
    width: 70vw;
    justify-self: center;


}



.skillset {
    margin-bottom: 15vh;
}

.skillsetanim {
    margin-bottom: 15vh;
}





.footSection
{
    width: 70vw;
    justify-self: center;


}


.footSection {
    margin-bottom: 45vh;
    
}